.test:after {
    clear: both;
    display: block;
    height: 0;
    content: '';
}

.test > div {
    float: left;
}

.t2 {
    width: 100px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.t3{
    font-size: 100px;
}
.topic-detail{
    .card-header{
        padding-top: 30px;
        padding-bottom: 15px;
    }
}
.reply{
    border-bottom: 1px solid rgba(0,0,0, 0.2)!important;
    .card-footer{
        background: #FFFFFF;
        margin-top: 10px;
        padding-left: 0;
    }
    .infos{
        min-height: 100px;
    }
}
