<!DOCTYPE html>
<html>
<head>
    #include("../../assets/html/head.html")
    <title>我的收藏</title>
</head>
<body class="page-topics" data-controller-name="topics">
#include("../../assets/html/header.html")
#include("../../assets/html/subNavbar.html")

<div id="main" class="main-container container">



    <!-- @suggest_topics maybe nil or ActiveRecord::Relation, but we need an array -->



    <div class="row">
        <div class="col-md-9">
            <div class="topics topics-favorites card">

                <div class="card-body item-list">

                    <div class="topic media topic-37845">
                        <div class="avatar">
                            <a title="tuliang (涂亮)" href="/tuliang"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/4482/e7a76c.jpg!md" /></a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="Nginx 进程和信号" href="/topics/37845">
                                    <span class="node">Nginx</span>
                                    Nginx 进程和信号
                                </a>      <i title="精华帖" class="fa fa-diamond" data-toggle="tooltip"></i>

                            </div>
                            <div class="info">
                                <a class="user-name" data-name="涂亮" href="/tuliang">tuliang</a>
                                <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="youclavier" href="/youclavier">youclavier</a> 回复于 <abbr class="timeago" title="2018-12-19T12:31:35+08:00">2018年12月19日</abbr>
      </span>
                            </div>
                        </div>
                        <div class="count media-right">
                            <a class="state-false" href="/topics/37845#reply-349398">4</a>
                        </div>
                    </div>
                    <div class="topic media topic-37913">
                        <div class="avatar">
                            <a title="woxiangsilau (刘大叔)" href="/woxiangsilau"><img class="media-object avatar-48" src="https://ruby-china.org/system/letter_avatars/2/W/194_194_194/96.png" /></a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="ruby 如何 连接 Caché 数据库啊？···有大神来讲解一下吗" href="/topics/37913">
                                    <span class="node">Ruby</span>
                                    ruby 如何 连接 Caché 数据库啊？···有大神来讲解一下吗
                                </a>

                            </div>
                            <div class="info">
                                <a class="user-name" data-name="刘大叔" href="/woxiangsilau">woxiangsilau</a>
                                <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="nouse" href="/nouse">nouse</a> 回复于 <abbr class="timeago" title="2018-12-19T12:58:35+08:00">2018年12月19日</abbr>
      </span>
                            </div>
                        </div>
                        <div class="count media-right">
                            <a class="state-false" href="/topics/37913#reply-349400">2</a>
                        </div>
                    </div>
                    <div class="topic media topic-37868">
                        <div class="avatar">
                            <a title="early (新手)" href="/early"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/24967.jpg!md" /></a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="图解 Unicorn 工作原理" href="/topics/37868">
                                    <span class="node">分享</span>
                                    图解 Unicorn 工作原理
                                </a>      <i title="精华帖" class="fa fa-diamond" data-toggle="tooltip"></i>

                            </div>
                            <div class="info">
                                <a class="user-name" data-name="新手" href="/early">early</a>
                                <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="captern" href="/captern">captern</a> 回复于 <abbr class="timeago" title="2018-12-17T19:18:33+08:00">2018年12月17日</abbr>
      </span>
                            </div>
                        </div>
                        <div class="count media-right">
                            <a class="state-false" href="/topics/37868#reply-349378">11</a>
                        </div>
                    </div>

                </div>

                <div class="card-footer clearfix">

                </div>
            </div>


        </div>


        <div class="sidebar col-md-3">
            <div class="card">
                <div class="card-header">新手必读</div>
                <div class="card-body">
                    <p>为提高社区质量，防止新注册用户一来就发帖提问接触 Ruby 遇到的问题，新用户需要达到下面条件才可发帖：</p>
                    <ol style="color:#ad2b2d;">
                        <li>注册时间超过 7 天；</li>
                    </ol>

                    <p>请在新人阶段多浏览，看看其他老用户是如何在社区里面分享与解决问题的。</p>
                    <p style="text-align:right">
                        <a href="http://ruby-china.org/topics/9650" style="color:#666;font-size:12px;text-decoration: underline;">详细说明...</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">小帖士</div>
                <div class="card-body">
                    一切都需要从先上传一个头像开始！
                </div>
            </div>

            <div class="card">
                <div class="card-header">社区规则</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-archive"></i> <a href="https://ruby-china.org/topics/24325">提问的智慧</a></li>
                    <li class="list-group-item"><i class="fa fa-heart"></i> <a href="http://blog.steveklabnik.com/posts/2011-08-19-matz-is-nice-so-we-are-nice" target="_blank">Matz is Nice So We Are Nice</a></li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">推荐 Ruby 资源</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class='fa fa-cloud'></i> <a href="/wiki/ruby-mirror">Ruby 镜像</a></li>
                    <li class="list-group-item"><i class='fa fa-diamond'></i> <a href="https://gems.ruby-china.com" target="_blank">RubyGems 镜像</a></li>
                    <li class="list-group-item"><i class='fa fa-youtube-play'></i> <a href="http://railscasts.com" target="_blank" rel="nofollow">Rails 视频教程</a></li>
                    <li class="list-group-item"><i class='fa fa-archive'></i> <a href="https://rails.guide/book/">Rails Guides 中文版</a></li>
                    <li class="list-group-item"><i class="fa fa-archive"></i> <a href="https://railstutorial-china.org">Ruby on Rails 教程</a></li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header"> UCloud 云服务器低至2折</div>
                <div class="card-body" style="padding:0;">
                    <a href="//www.ucloud.cn/site/active/gift.html?utm_source=ruby_china&utm_medium=content_pic_pc&utm_campaign=20181218&utm_content=gift&ytag=ruby_china" title="UCloud 云服务器低至2折"><img src="//l.ruby-china.com/photo/2018/fa9cda7f-9d86-49b7-aeaf-7263d40f1368.jpg!large" style="width: 100%;" /></a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">友情社区</div>
                <ul class="list-group list-group-flush" style="text-align: center;">
                    <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//l.ruby-china.com/photo/2016/d427ef3efd33b57721df152c2aa1735e.png" style="width:130px; " /></a></li>
                    <li class="list-group-item"><a href="https://gocn.io" rel="nofollow" title="GoCN 社区" target="_blank"><img src="//l.ruby-china.com/photo/2017/97b87be9-1375-40cb-8d56-29e203a31689.png" style="width:130px; " /></a></li>
                    <li class="list-group-item"><a href="https://laravel-china.org" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/d7782871f3fac7e85a95d20c74046909.png" style="width:130px; " /></a></li>
                    <!--li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/e91d14ee109ed066e215057ab40257b7.png" style="width:150px; " /></a></li-->
                    <li class="list-group-item"><a href="https://testerhome.com/" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/5cd78b730062ab3c768bcc2592c5c7fa.png" style="width: 150px;" /></a></li>
                    <li class="list-group-item"><a href="https://pythoncaff.com" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2018/00d4dd0a-188b-4c58-a524-46c99244659b.png" style="width: 150px;" /></a></li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">统计信息</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">社区会员: 36652 人</li>
                    <li class="list-group-item">帖子数: 36522 个</li>
                    <li class="list-group-item">回帖数: 347636 条</li>
                </ul>
            </div>

        </div>

    </div>

</div>
#include("../../assets/html/footer.html")
</body>
</html>
