<!DOCTYPE html>
<html>
<head>
    #include("../../assets/html/head.html")
    <title>论坛首页</title>
</head>
<body class="page-home" data-controller-name="home">
#include("../../assets/html/header.html")
<div id="main" class="main-container container">
    #include("../../assets/html/crumbs.html")
    <div id="reply" class="card">
        <div class="card-header hide-ios">发布新帖子</div>
        <div class="card-body">
            <div id="editor" style="min-height: 300px">
                <p>This is the editor content.</p>
            </div>
            <div class="card"></div>
            <div class="submit-buttons">
                <button type="submit" id="reply-button" class="btn btn-primary" tabindex="2", data-disable-with='提交回复'>发布新帖</button>
            </div>
        </div>
    </div>
</div>
#include("../../assets/html/footer.html")
</body>
</html>


