<!DOCTYPE html>
<html>
<head>
    #include("../../assets/html/head.html")
    <title>论坛首页</title>
</head>
<body class="page-home" data-controller-name="home">
#include("../../assets/html/header.html")
#include("../../assets/html/subNavbar.html")
<div id="main" class="main-container container">
    <div class="row">
        <div class="col-md-9">
            <div class="topics card">
                <div class="card-header">版面介绍</div>
                <div class="card-body item-list">
                    <div class="topic row">
                        <div class="media col-md-8">
                            <div class="ipsItemStatus-icon">
                                <img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </div>
                            <div class="infos media-body">
                                <h5 class="title"><a title="" href="">Pre-Sales Questions</a></h5>
                                <div class="info">Do you have questions before you purchase the IPS Community Suite? Post here for assistance from IPS staff and other customers.</div>
                            </div>
                            <div class="count media-right ipsDataItem_stats">
                                <a class="ipsDataItem_stats_number" href="/topics/37910#reply-349386">1212</a>
                                <a href="javascript:void(0);" class="ipsDataItem_stats_type">posts</a>
                            </div>
                        </div>
                        <div class="media col-md-4 sidebar">
                            <div class="avatar">
                                <a href="">
                                    <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                                </a>
                            </div>
                            <div class="infos media-body">
                                <div class="title media-heading">
                                    <a href="">Feedback and Ideas Feedback and Ideas Feedback and Ideas</a>
                                </div>
                                <div>
                                    by <a href="">Jack</a>
                                </div>
                                <div class="info">
                                    <span class="hidden-mobile">
                                        <abbr class="timeago" title="2018-12-18T15:57:47+08:00">2018年12月18日</abbr>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic row">
                        <div class="media col-md-8">
                            <div class="ipsItemStatus-icon">
                                <img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </div>
                            <div class="infos media-body">
                                <h5 class="title"><a title="" href="">Pre-Sales Questions</a></h5>
                            </div>
                            <div class="count media-right ipsDataItem_stats">
                                <a class="ipsDataItem_stats_number" href="/topics/37910#reply-349386">1212</a>
                                <a href="javascript:void(0);" class="ipsDataItem_stats_type">posts</a>
                            </div>
                        </div>
                        <div class="media col-md-4 sidebar">
                            <div class="avatar">
                                <a href="">
                                    <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                                </a>
                            </div>
                            <div class="infos media-body">
                                <div class="title media-heading">
                                    <a href="">Feedback and Ideas Feedback and Ideas Feedback and Ideas</a>
                                </div>
                                <div>
                                    by <a href="">Jack</a>
                                </div>
                                <div class="info">
                                    <span class="hidden-mobile">
                                        <abbr class="timeago" title="2018-12-18T15:57:47+08:00">2018年12月18日</abbr>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic row">
                        <div class="media col-md-8">
                            <div class="ipsItemStatus-icon">
                                <img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </div>
                            <div class="infos media-body">
                                <h5 class="title"><a title="" href="">Pre-Sales Questions</a></h5>
                                <div class="info">
                                    <a href="">测试</a>,
                                    <a href="">测试</a>,
                                    <a href="">测试</a>
                                </div>
                            </div>
                            <div class="count media-right ipsDataItem_stats">
                                <a class="ipsDataItem_stats_number" href="/topics/37910#reply-349386">1212</a>
                                <a href="javascript:void(0);" class="ipsDataItem_stats_type">posts</a>
                            </div>
                        </div>
                        <div class="media col-md-4 sidebar">
                            <div class="avatar">
                                <a href="">
                                    <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                                </a>
                            </div>
                            <div class="infos media-body">
                                <div class="title media-heading">
                                    <a href="">Feedback and Ideas Feedback and Ideas Feedback and Ideas</a>
                                </div>
                                <div>
                                    by <a href="">Jack</a>
                                </div>
                                <div class="info">
                                    <span class="hidden-mobile">
                                        <abbr class="timeago" title="2018-12-18T15:57:47+08:00">2018年12月18日</abbr>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sidebar col-md-3 hot-right">
            <div class="topics card">
                <div class="card-header">热门热门</div>
                <div class="card-body item-list">
                    <div class="topic media">
                        <div class="avatar">
                            <a title="" href="">
                                <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="react and rails 最佳实践？" href="./topicDetail.html">
                                    <!--<span class="node">瞎扯淡</span>-->
                                    react and rails 最佳实践？
                                </a>

                            </div>
                            <div class="info">
                                <span class="hidden-mobile">by</span>
                                <span class="hidden-mobile">Matt · Monday</span>
                                <span class="hidden-mobile">at 10:14 AM</span>
                            </div>
                        </div>
                        <!--<div class="count media-right">-->
                            <!--<a class="state-false" href="/topics/37908#reply-349387">7</a>-->
                        <!--</div>-->
                    </div>
                    <div class="topic media">
                        <div class="avatar">
                            <a title="" href="">
                                <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="react and rails 最佳实践？" href="./topicDetail.html">
                                    <!--<span class="node">瞎扯淡</span>-->
                                    react and rails 最佳实践？
                                    react and rails 最佳实践？
                                </a>

                            </div>
                            <div class="info">
                                <span class="hidden-mobile">by</span>
                                <span class="hidden-mobile">Matt · Monday</span>
                                <span class="hidden-mobile">at 10:14 AM</span>
                            </div>
                        </div>
                        <!--<div class="count media-right">-->
                        <!--<a class="state-false" href="/topics/37908#reply-349387">7</a>-->
                        <!--</div>-->
                    </div>
                    <div class="topic media">
                        <div class="avatar">
                            <a title="" href="">
                                <img class="media-object avatar-38" src="https://l.ruby-china.com/user/avatar/24730.jpg!md"/>
                            </a>
                        </div>
                        <div class="infos media-body">
                            <div class="title media-heading">
                                <a title="react and rails 最佳实践？" href="./topicDetail.html">
                                    <!--<span class="node">瞎扯淡</span>-->
                                    react and rails 最佳实践？
                                    react and rails 最佳实践？
                                </a>

                            </div>
                            <div class="info">
                                <span class="hidden-mobile">by</span>
                                <span class="hidden-mobile">Matt · Monday</span>
                                <span class="hidden-mobile">at 10:14 AM</span>
                            </div>
                        </div>
                        <!--<div class="count media-right">-->
                        <!--<a class="state-false" href="/topics/37908#reply-349387">7</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#include("../../assets/html/footer.html")

</body>
</html>


